@use 'mixin' as *;

.container {
  display: grid;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;

  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;
  padding-left: 20px;
  padding-right: 20px;

  > * {
    grid-column: 1 / -1;
    width: 100%;
  }

  @include on-tablet {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 24px;
    padding-left: 72px;
    padding-right: 72px;
    max-width: 744px;
  }

  @include on-desktop {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
    padding-left: 80px;
    padding-right: 80px;
    max-width: 1280px;
  }
}
